<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Paramètre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>

    </ion-toolbar>
  </ion-header>
  <form [formGroup]="teethTime" (ngSubmit)="teethTimeForm()">
    <ion-item>
      <ion-label>Name :</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Temps de Brossage en s:</ion-label>
      <ion-textarea formControlName="time"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Durée par Zone en s</ion-label>
      <ion-textarea formControlName="zoneTeethTime"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Temps de repos en s: </ion-label>
      <ion-textarea formControlName="timeRepos"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Nbre de Zone de Brossage: </ion-label>
      <ion-textarea formControlName="zoneTeeth"></ion-textarea>
    </ion-item>
    <ion-button type="submit" (click)=" teethTimeForm()" [disabled]="!teethTime.valid">Submit </ion-button>
  </form>

</ion-content>
