/* iOS places the subtitle above the title */
ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}

ion-card-title {
  height: 35px;
  justify-content: center;

}


.timer_image {
  border: 2px solid black;
  padding: 25px;
  background-image: '/assets/brossagephoto.jpg';
  background-repeat: no-repeat;
  background-size: auto;
}

.timeBrush {

  font-size: 20px;
}

.button-container {
  display: flex;
  justify-content: center;

}

.card-button {
  display: flex;
  justify-content: center;

}
